<template>
  <div>
    <h2 class="title"> COI LOGO </h2>

    <div v-if="isAuth">
      <router-link to="/Profile">Profile</router-link>
      <router-view />
    </div>
    
    <div v-else>
    <form  id="login" @submit.prevent="login">
      <p> {{ msg }} </p>
      <div class="field">
	<label class="label"> Số điện thoại </label>
	  <input type="text" v-model="phone" class="input">
      </div>
      <div class="field">
	<label class="label"> Mật khẩu</label>
	<input type="password" v-model="pass" class="input">
      </div>
    <a href="#" class="forget">Quên mật khẩu? </a>
   <br>  <br>
      <button value="submit" class="button is-primary is-rounded">Đăng nhập</button>
    </form>
     <br><br>
    
    <p> Người dùng mới? <a href="#">Đăng ký</a> </p>
    
    </div>
    </div>
</template>

<style>
  .forget {
  float: right
  }
  .input {
  border-top: none;
  
  }
  </style>

<script>
  
  export default {
  name: 'Dangnhap',
  data () {
  return {
  msg: '',
  phone: '',
  pass: '',
  isAuth: false
  }
  },

  methods: {
  login: function(){
  if (this.phone == 123 && this.pass == 123)
  this.isAuth = true
  else
  this.msg = 'phone = 123 and pass = 123'
  }
  }
  }
  
  </script>
