<template>
  <div>
    <h2 class="title"> COI LOGO </h2>
    <router-link to="/dangnhap" class="button is-primary is-rounded  is-medium"> Đăng Nhập </router-link><br><br>
    <a class="button is-rounded is-medium"> Đăng Ký </a>
    </div>
</template>

<style>
  .button {
  width: 50%;
  }
  
  
</style>
