<template>
<div>
  <div class="columns is-mobile banners">
    <div class="column">
      <figure class="image is-96x96">
	<img class="is-rounded" :src="avatar">
      </figure>
    </div>
    <div class="column banner">
      <p class="title"> {{ name }} </p>
      <p class="subtitle"> Tài sản: {{ asset }} đ <br>
	Lợi nhuận: {{ profit }} đ ({{ rate }}) </p>
    </div>
    <div class="column">
      <a href="#" class="button is-warning is-focused"> NẠP THÊM </a>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="symbol">
	<p>Mã đầu tư:
	  <span class="select"> 
	    <select v-model="selected">
	      <option v-for="(ma, i) in codes" :value="i"> {{ ma.code }} </option>
	    </select>
	  </span>
	</p>
      </div>
    
      <div>
	Gía trị: <span class="profitdot" :style="{backgroundColor: codes[selected].isprofit}"></span> <span style="font-weight:bold">{{codes[selected].value}}</span> <span :style="{color: codes[selected].isprofit}">{{codes[selected].profit}} ({{codes[selected].rate}}) </span>
      </div>
      <div>
	Vốn: {{codes[selected].capital}} ({{codes[selected].percentage}} tài sản)
      </div>
   
      <div>
      	<div class="tabs is-centered">
	  <ul>
	    <li class="is-active">
	      <a class="tablinks" @click="openChart"> <span> Đồ thị </span> </a> </li>
	    <li> <a class="tablinks" @click="openInfo"> <span> Thông tin </span> </a> </li>
	  </ul>
	</div>
	
	<div id="chart" class="tabcontent" v-if="activeChart">
	  <figure><img :src="codes[selected].chart.link"></figure>
	</div>
	
	
	<div id="info" class="tabcontent" v-else>
	  <b>Danh mục đầu tư tiêu biểu </b> <br>
	  {{ codes[selected].info.investedin }}	  <br>
	  <b> Tổng quan về qũy </b>	  <br>
	  {{ codes[selected].info.overall }}	  <br>
	  <b> Chiến lược đầu tư </b>	  <br>
	  {{ codes[selected].info.strategy }}	  <br>
	</div>
	
	<router-view />
      </div>
    </div>
  </div>
<div class="columns is-mobile">
  <div class="column">
    <p> Tối đa: 100 000 000 đ </p><br>
    <p> Giá trị: 50 000 đ </p>
  </div>
  <div class="column">
<a href="#" class="button is-primary"> Đầu tư </a>
<a href="#" class="button is-danger"> Rút vốn </a><br>
    <a href="#" class="button is-warning">Mở lệnh </a>
  </div>
  
</div>


<div class="tile is-parent">
  
  <div class="tabs is-toggle is-fullwidth">
    <ul>
      <li>
	<a><span class="icon is-small"><i class="fas fa-address-card" aria-hidden="true"></i></span>
	  <span> Tổng hợp </span>
	</a>
      </li>
      <li>
	<a><span class="icon is-small"><i class="fas fa-user" aria-hidden="true"></i></span>
	  <p> Tài khoản </p>
	</a>
      </li>
      <li class="is-active">
	<a><span class="icon is-small"><i class="fas fa-funnel-dollar" aria-hidden="true"></i></span>
	  <span> Đầu tư </span>
	</a>
      </li>
      <li>
	<a><span class="icon is-small"><i class="fas fa-history" aria-hidden="true"></i></span>
	  <span> Lịch sử </span>
	</a>
      </li>
      <li>
	<a><span class="icon is-small"><i class="fas fa-snowflake" aria-hidden="true"></i></span>
	  <span> Tiện ích </span>
	</a>
      </li>
      
    </ul>
  </div>
  
</div>

</div>
</div>
</div>

</div>
</div>
</template>

<style>

  option {
  font-weight: bold
  }

  
  .profitdot {
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: red;
  }
  .banners {
      background-color: green;
  }
  .banner p {
      color: white;
  }

</style>

<script>

  let symbols = [
  {
  code: 'ETFVN30',
  value: 110000000,
  profit: '+10000000',
  isprofit: 'green',
  rate: '10%',
  capital: 100000000,
  percentage: '10%',
  chart: {
  link: "https://bulma.io/images/placeholders/128x128.png"
  },
  info: {
  investedin: ['AAA', 'BBB'],
  overall: 'Quỹ ETF là quỹ đầu tiên ở Việt nam',
  strategy: 'Quỹ đầu tư vào SME',
  },
  action: 'dautu',
  },

  {
  code: 'AAA',
  value: 99000000,
  profit: '-10000000',
  isprofit: 'red',
  rate: '-10%',
  capital: 100000000,
  percentage: '10%',
  chart: {
  link: "https://bulma.io/images/placeholders/128x128.png"
  },
  info: {
  investedin: ['AAA', 'CCC'],
  overall: 'Quỹ AAA là quỹ do công ty A lập',
  strategy: 'Quỹ đầu tư vào LE',
  },
  action: 'rutvon',
  },
  ]

export default {
  name: 'Profile',
  data () {
  return {
  name: 'Nguyễn Văn A',
  avatar: "https://bulma.io/images/placeholders/96x96.png",
  asset: 100000000,
  profit: 10000000,
  rate: '+10%',
  codes: symbols,
  selected: 0,
  activeChart: true,
  }
  },
  methods: {
  openChart() {
  this.activeChart = true;

  },
  openInfo(){
  this.activeChart=false;
  }
  }
}

  </script>
