<template>
<div>
  <h2 class="title"> Danh muc dau tu tieu bieu </h2>
  <figure class="image is-32x32">
  <img src="https://bulma.io/images/placeholders/32x32.png">
</figure>

  <h2 class="title"> Tong quan ve quy </h2>
  Quy ETF la quy ETF dau tien cua viet nam do cong ty...
  <h2 class="title"> Chien luoc dau tu </h2>
  Muc tieu dau tu cua quy ETF la kiem that nhieu tien luong thien.
  </div>
  </template>
